{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
          <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
        </div>
    </div>
      
      <div class="row">
          <div class="col">
              <h1 class="text-center mt-4">Welcome to Major's Suite</h1>
              <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
              </p>
          </div>
      </div>

  </div>
  <div class="row">
          <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
          </div>
      </div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function() {
      let html = `
      <form id="check-availability-form" acton="#" method="get" novalidate class="row g-3 needs-validation">
        <div class="form-row" id="reservation-dates-modal">
          <div class="col-md-6">
            <input disabled required type="text" class="form-control" id="start" name="start" aria-describedby="startHelp" placeholder="Arrival">
          </div>
          <div class="col-md-6">
            <input disabled required type="text" class="form-control" id="end" name="end" aria-describedby="endHelp" placeholder="Departure">
          </div>
        </div>
      </form>
    `;
    attention.custom({
      msg: html,
      title: "Choose your dates",
      willOpen: () =>{
          let dateRangeElem = document.getElementById("reservation-dates-modal");
          const dateRangePicker = new DateRangePicker(dateRangeElem, {
            autohide: true,
            format: 'yyyy-mm-dd',
            showOnFocus: true,
            orientation: "top auto",
            minDate: new Date()
          });
        },
        didOpen: () => {
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
      callback: function(result) {
        let form = document.getElementById("check-availability-form");
        let formData = new FormData(form);
        formData.append("room_id", "2")
        formData.append("csrf_token", "{{.CSRFToken}}");

        fetch("/search-availability-json", { 
          method: "POST", 
          body: formData
        })
        .then(response => response.json())
        .then(data => {
          if (data.ok) {
            console.log("Room is available")
            attention.custom({
              icon: 'success',
              showConfirmButton: false,
              msg: '<p>Room is available</p>'
              + '<p><a href="/book-room?id='
                + data.room_id
                + '&s='
                + data.start_date
                + '&e='
                + data.end_date
                +'" class="btn btn-primary">Book Now!</a></p>'
            })
          } else {
            attention.error({
              icon: 'error',
              htmlText: "Room Not Available",
            })
          }
        });
      }
    });
  });
</script>
{{end}}