{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
          <img src="/static/images/marjors-suite.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
        </div>
    </div>
      
      <div class="row">
          <div class="col">
              <h1 class="text-center mt-4">Welcome to Major's Suite</h1>
              <p>Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
                  Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation to remember.
              </p>
          </div>
      </div>

  </div>
  <div class="row">
          <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
          </div>
      </div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function() {
      let html = `
      <form id="check-availability-form" acton="#" method="get" novalidate class="row g-3 needs-validation">
        <div class="form-row" id="reservation-dates-modal">
          <div class="col-md-6">
            <input disabled required type="text" class="form-control" id="start" name="start" aria-describedby="startHelp" placeholder="Arrival">
          </div>
          <div class="col-md-6">
            <input disabled required type="text" class="form-control" id="end" name="end" aria-describedby="endHelp" placeholder="Departure">
          </div>
        </div>
      </form>
    `;
    attention.custom({
      msg: html,
      title: "Choose your dates",
    });
  });
</script>
{{end}}